.submitBtn {
    background-color: $color-green;
    color:white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 15vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    &:hover{
    opacity: 0.7;
    }
}