.ContainerLog{
    border:4px solid red;
    width: 100%;
    height: 90vh;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    &_header{
        color:#4a9e87;
        padding-bottom: 4rem;
        font-size:24px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        align-items: center;
    }
    &_content{
        border: violet 4px solid;
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        
        display:flex;
        flex-direction: column;
        
        &_image{
            width: 100%;
            text-align: center;
            &_img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &_form{
        // width: 40vw;
    border:4px solidd green;
    margin-top:2em;
    display: flex;
    flex-direction: column;
    align-items: start;
    &_group{
        // margin-top: 5vh;
        
        margin:1rem;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        &_label{
            font-size:20px;
            line-height: 1vh;
            }
        }
    &_input{
        border-radius: 10%;
        padding-bottom: 20px;
        
    }
    &_group{
       border:pink solid 4px;
    }
    &_error{
        padding-top: 2%;
        color: #e0245e;
        font-weight: normal;
    }
    &_bouton{
        border:yellow 4px solid;
        padding-bottom: 10px;
    }
 }
}