.containerList{
font-family: 'Lato', sans-serif;
height: 100vh;
width: 100vw;

&_erreur{
    padding-top: 2%;
    color: #e0245e;
    font-weight: normal;
}
&_titre{
   
    text-align: center;
    color: #4a9e87;
    padding-bottom: 4rem;
    font-size: 24px;
    font-family: Georgia, "Times New Roman", Times, serif;
    align-items: center;
}
&_creation{
    & p {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
}

}