@import '../../../scssConfig/mixin';

footer{
    
    height: 10vh;
    display: none;
    border:4px solid red;

    p {
        color:black;
        font-size: 13px;
        text-align: center;
        padding-top: 1%;
    }
}