@import '../../../scssConfig/mixin';

.footer{
    font-family: 'Lato', sans-serif;
    height: 10vh;
    padding-top:20px;
   &_reseaux{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-bottom:2rem;
    }
    
}
