@import '../../../config/mixin';
.container {
 
  font-family: "Lato", sans-serif;
  height: 90vh;

 

  &_titre {
    height: 10%;
    padding-top: 3rem;
  }
  &_postPatch {
    height: 85%;
    margin: 30px 10px 10px 10px;
    
    &_image {
      height: 40%;
      width: 100%;
      object-fit: cover;
      @include media (desktop){
      
        object-fit: cover;
        height: 65%;
        width: 50%;
        margin: 5px 10px 10px 340px;
      }
      
    }
    &_content {
     
      margin-top: 10px;

      display: flex;
      flex-direction: column;
      height: 45%;
      @include media (desktop){
        width: 100%;
        padding: 2%;
      }
      // & input {
      //   margin-top: 10px;
      //   height: 5vh;
      //   width: 90vw;
      //   border-radius: 4px;
      //   scroll-behavior: auto;
      // }
      & textarea {
        
        margin: 10px 0px 1rem;
        height: 20vh;
        width: 100%;
        border-radius: 4px;
        font-style: 'Roboto';
        
      }
    }
    &_like {
      margin-top: 1px;
      @include media (desktop){
        width: 100%;
        padding: 2%;
      }
    }
    &_picture {
      margin-top: 10px;
      @include media (desktop){
        width: 100%;
        padding: 2%;
      }
      

      & input {
        margin-top: 10px;
        height: 5vh;
        width: 90vw;
        border-radius: 4px;
        font-style: 'Lato';
        
       
      }
    }
  }
  &_erreur {
    
    height: 2%;
    color: #e0245e;
    font-weight: normal;
    justify-content: center;
  }
  &_button {
    
    width: 90%;

    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #4a9e87;
    font-style: italic;
    border-radius: 10px;
    margin: 30px 5px;
    padding: 10px 30px;
    cursor: pointer;
    &:hover {
      background-color: #65d1b3;
      opacity: 2;
    }
    @include media (desktop){
      width: 35%;

    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #4a9e87;
    font-style: italic;
    border-radius: 10px;
    margin: 30px 455px;
    // padding: 10px 30px;
    cursor: pointer;
    // opacity: 0.8;
    // float: right;
    &:hover {
      background-color: #65d1b3;
      opacity: 2;
    }
    }
  }
}
