.container{
    height: 60vh;
    width: 100vw;
   &_postCreate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        width: 100vw;
        &_content{
            border:4px solid red;
            
            & input{
                height: 5vh;
                width: 100vw;
                border-radius: 4px;
            }
        }
        &_picture{
            & input{
                height: 5vh;
                width: 100vw;
                border-radius: 4px;
            }
        }
        &_erreur{
            padding-top: 2%;
            color: #e0245e;
            font-weight: normal;
        }
        &_button{
            color: #fff;
    font-size: 14px;
    background: #4a9e87;
    font-style: italic;
    border-radius: 10px;
    margin: 30px 5px;
    padding: 10px 30px;
    cursor: pointer;
    // opacity: 0.8;
    // float: center;
    &:hover {
      background-color: #65d1b3;
      opacity: 2;
    }
        }
       
    }
   
}
