.home {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  text-align:justify;
  &_image{
   
    width: 100%;
    
  }
  &_paragraphe{
    text-align: center;
  }
  &_paragrapheinfo{
    text-align: center;
  }
}
h2{
  color:#4A9E87;
  text-align: center;
  
}

