.home {
  height: 100vh;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  text-align:justify;
  &_titre{
    padding-top: 3rem;
    padding-bottom: 2rem;
     
  }
  &_image{
    object-fit: cover;
    width: 100%;
    padding-top: 2rem;
  }
  &_paragraphe{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: justify;
   
   
  }
  &_paragrapheinfo{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }
}
h2{
  color:#4A9E87;
  text-align: center;
  
}

