.navBar {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:red 4px solid;
  &_logo {
    border:black 4px solid;
    margin-left: 2%;
    width: 17%;
    height: 4rem;
  }
  &_boutons {
    border:blue 4px solid;
    width: 100%;

    background-color: #4a9e87;

    display: flex;
    justify-content: space-around;

    &_boutonregister {
      color: black;
      width: 25%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
      float: left;
      background: white;

      &:hover {
        background-color: #4a9e87;
        cursor: pointer;
      }
    }
    &_boutonlogin {
      background-color: #4a9e87;
      color: white;
      width: 25%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
      float: left;
      background: #ffffff;

      &:hover {
        background-color: #4a9e87;
        cursor: pointer;
      }
    }
  }
}

.navBar_connecter{
  width: 100%;
    margin: 0 auto;
  background-color:#4A9E87;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &_button{
    width: 3rem;
    border:4px solid #4A9E87;
     background-color:#4A9E87;
     cursor: pointer;
     &_logo{
      
      width: 2rem;
      &_link{
        
        display:none;
      }
     }
    }
  }
  // .navBar_Desktop{
  //   border:4px solid black;
  //   background-color:green;
  //      display: flex;
  //      flex-direction: row;
  //      justify-content: flex-end;
       
        
       

  // }
