@import "../../config/mixin";
.navBar {
  font-family: "Lato", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_logo {
    padding-bottom: 1rem;
    object-fit: center;
    width: 20%;
    height: 5rem;
    @include media(desktop) {
      padding-bottom: 1rem;
      object-fit: center;
      width: 15%;
      height: 10rem;
    }
  }
  &_boutons {
    padding-bottom: 0.4rem;
    width: 100vw;
    background-color: #4a9e87;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    &_register {
      color: #fff;
      font-size: 14px;
      background: white;
      font-style: italic;
      border-radius: 10px;
      margin: 30px 5px;
      padding: 10px 30px;

      cursor: pointer;
      // opacity: 0.8;
      float: right;
      &:hover {
        background-color: #65d1b3;
        opacity: 2;
      }
    }

    &_link {
      text-decoration: none;
      color: black;
    }
    &_login {
      color: #fff;
      font-size: 14px;
      background: white;
      font-style: italic;
      border-radius: 10px;
      margin: 30px 5px;
      padding: 10px 30px;

      cursor: pointer;
      // opacity: 0.8;
      float: right;
      &:hover {
        background-color: #65d1b3;
        opacity: 2;
      }
    }
  }
  &_link {
    text-decoration: none;
    color: black;
  }
}

.navBar_connecter {
  width: 100%;
  height: 8vh;
  background-color: #4a9e87;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &_link {
    // border: 4px solid #4a9e87;
    //  background-color: #4a9e87;
    width: 11%;
    height: 8vh;
    object-fit: cover;
    
    // border:1px solid red;
    @include media(desktop) {
      width: 11%;
      height: 8vh;
      display: inline;
      display: flex;
      flex-direction: column-reverse;
      text-decoration: none;
    }
    &_button {
      //   padding-top: 1rem;
      //  padding-bottom: 1rem;

      width: 100%;
      height: 100%;
      
    }
    & p {
      color: white;
      text-decoration: none;
      display: none;
      @include media(desktop) {
        text-decoration: none;
        display: inline;
       
        color: white;
        height: 2.7rem;
        &:hover {
          color: #dab558;
            
          }
        
      }
    }
  }
  &_button {
    border: none;
    @include media(desktop) {
      background-color: #4a9e87;
    }

    &_logo {
      background-color: #4a9e87;
      height: 8vh;
      border: 4px solid #4a9e87;
      @include media(desktop) {
        background-color: #4a9e87;
        height: 8vh;
        display: none;
      }

      &_link {
        text-decoration: none;
        display: none;
        @include media(desktop) {
          display: inline;
          background-color: #4a9e87;
          color: white;
          padding-right: 4rem;
          &:hover {
          color: #dab558;
            
          }
          
        }
      }
    }
  }
}
//   &_button {
//     width: 3rem;
//     border: 4px solid #4a9e87;
//     background-color: #4a9e87;
//     cursor: pointer;
//     &_logo {
//       width: 2rem;
//       &_link {
//         display: none;
//       }
//     }
//   }
// }
// .navBar_Desktop{
//   border:4px solid black;
//   background-color:green;
//      display: flex;
//      flex-direction: row;
//      justify-content: flex-end;

// }
