h1{
  color:#4A9E87;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
body {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
